<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>userlogin</title>
</head>
<body>
<form th:action="@{/admin/user}" method="post">
    <label for="name">用户名</label>
    <input type="text" name="name" id="name" placeholder="name"/>
    <label for="password">密码</label>
    <input type="password" name="password" id="password" placeholder="password"/>
    <label class="col-sm-2 control-label">角色</label>
    <div class="col-sm-10">
        <select class="form-control" name="role">
            <option th:each="adminrole:${adminrole}" th:text="${adminrole.cnname}" th:value="${adminrole.role}"></option>
        </select>
        <input type="submit" value="提交" class="btn btn-info">
    </div>
</form>
</body>
</html>